body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Bebas Neue', cursive;
    background-color: lightgrey;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    background-color:royalblue;
}
.logo img {
    max-width: 100px;
}
.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 50px;
}
.menu-nav a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:bisque;
    transition: color .5s;
}
.menu-nav a:hover {
    color:rgb(111, 206, 144);
}
