* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Bebas Neue', cursive;
    list-style-type: none;
    text-decoration:none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0px 30px;
    height: 70px;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #43cea2, #185a9d );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #43cea2,  #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo img {
    max-width: 80px;
}

.navbar,
.navbar-list {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:#14487d;
    transition: color .5s;
}

.navbar a:hover {    
    background: rgb(67,206,162);
    background: radial-gradient(circle, rgba(67,206,162,1) 0%, rgba(175,238,214,1) 37%, rgba(206,67,137,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.menu-label {
    width: 30px;
    display: none;
}

#menu-toggle {
    display: none;
}

/* main */

main {
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #185a9d,#43cea2 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
}

#hero {
    margin-top: 0px;
    padding: 60px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.hero-info h1 {
    font-size: 50px;
    width: 80%;
    min-width: 500px;
    font-weight: 600;
    color:#185a9d;
    text-shadow: white 3px 3px;
}

.hero-info p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 70%;
    color: white;
}

.hero-info p > span {
    font-weight:900;
    font-size: 30px;
    color: #185a9d;
    text-shadow: white 2px 2px;
}


.hero-info a {
    color: #43cea2;
    background: #14487d;
    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    border-width: 4px;
}

.hero-buttom {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.hero-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info {
    max-width: 1000px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#info h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-shadow: 2px 2px #14487d;
}

#info h2 > span {
    font-weight:900;
    font-size: 30px;
    color: #43cea2;
    text-shadow: #14487d 4px 4px;
}

.cajas img {
    width: 50px;
}

.cajas h3 {
    font-size: 25px;
    font-weight: 800;
    color: #14487d;
}

.cajas p {
    font-size: 17px;
    font-weight: 500;
    color: #14487d;
}

.info-cajas-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}

.cajas {
    margin-bottom: 50px;
    width: 300px;
    height: 300px;
    padding: 40px 30px;
    background-color: #43cea2;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    background-color: #24a67d;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23287cb7' fill-opacity='0.23' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
border-radius: 15px;
gap: 20px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #43cea2 , #333,#43cea2);
}

.contacto-footer {
    padding: 40px;
    background-color: #185a9d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2343cea2' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contacto p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #43cea2;
}

.contacto li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    color: #43cea2;
}

.contacto-container h2 {
    font-size: 40px;
    color:#43cea2;

}

.contacto-container img {
    width: 35%;
    border-radius: 15px;
    box-shadow: rgba(41, 174, 128, 0.56) 0px 22px 70px 4px;
}

.contacto  {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 50px;
    
}

.contacto-container {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    text-align:left;
}

.separador-footer {
    display: block;
    height: 1px;
    margin: 20px;
}

.bottom-logo {
    display: flex;
}

.container-bottom-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logo-footer {
    font-size: 50px;
    background: rgb(67,206,162);
    background: radial-gradient(circle, rgba(67,206,162,1) 0%, rgba(175,238,214,1) 37%, rgba(206,67,137,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.parrafo-footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-left: 2px;
    margin-top: 0px;
    color: darkgray;
}

.social img {
    width: 100px;
    height: 100px;
    padding: 20px;
}


.bottom-redes {
    display: flex;
    gap: 10px;
}

